input,
textarea,
input::placeholder {
  @apply text-sm;
}

.input-prefix {
  span:first-child {
    @apply bg-[#e6e5e6] h-[38px] px-2 rounded-l-md flex items-center justify-center text-[#5a5b5d] mt-1;
  }

  input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.input-suffix {
  span:last-child {
    @apply bg-[#f6f8fa] h-[38px] px-2 rounded-r-md flex items-center justify-center text-[#404040] mt-1 border;
  }

  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
