textarea {
  outline: none;
  background: inherit;
}

input {
  outline: none;
  background: inherit;

}

.input-textarea {
  border: 1px solid #d5d5d5;
}

.input-textarea:has(textarea:focus) {
  border: 1px solid #4994ec;
}

.input-textarea:has(input:focus) {
  border: 1px solid #4994ec;
}
