.next-button {
  background: linear-gradient(0deg, #2c598d, #2c598d),
    linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);

  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
}

.exit-button {
  border: 1px solid #00376a;
}

textarea {
  outline: none;
}

.input-textarea {
  border: 1px solid #d5d5d5;
}

.input-textarea:has(textarea:focus) {
  border: 1px solid #4994ec;
}
